body
{
    font-family: "lato";
    margin: 50px 50px 0 50px;
}

.header
{
    color: white;
    background-image: url(images/messi_graphic.jpeg);
    background-size: cover;
    height: 400px;
    max-width: 950px;
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 50px;
}

.header h1
{
    width: 300px;
}

.header p
{
    width: 300px;
}

.fa-globe
{
    color: black;
}

.header a
{
    color:black;
    text-decoration: none;
}

#watch
{
    display: inline-block;
    background-color: red;
    padding: 15px ;
    border-radius: 5px;
}

#watch:hover
{
    background-color: rgb(197, 18, 18);
    font-weight: bold;
    transition-duration: 0.5s;
}


#blog
{
    padding-bottom: 50px;
    height: fit-content;
    margin-bottom: 20px;
}

#container1
{
    display: inline-block;
    background-color: black;
    height: 210px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    clear:right;
}

#container1 a
{
    position: relative;
    top: 15px;
    display:block;
    margin: 10px auto;
    width: 200px;
    padding: 15px 0px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container2
{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    float: right;
    max-width: 600px;
    text-align: center;
}

.container2 .tiles
{
    width: 30%;
    /* height: inherit; */
    box-shadow: inset 5px 5px 10px solid gray;
    margin-left: 10px;
    border: 0.2px solid gray;
    border-radius: 3px;
    margin-bottom: 15px;
}

.tiles img
{
    position: relative;
    top: 10px;
    display: inline-block;
    width: 50px;
}

.tiles p
{
    display: inline-block;
    font-size: 15px;
}

.tiles .bold
{
    font-weight: bold;
}

.tiles .small
{
    font-size: 10px;
}

.tiles h4
{
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

footer
{
    background-color: black;
    margin: 0px -50px;
    text-align: center;
    padding: 30px;
}

footer p
{
    color: white;
}

footer hr
{
    width: 80%;
    margin-bottom: 20px;
    height: 1px;
    border: none;
    background-color: white;
}

footer a
{
    color: white;
    text-decoration: none;
    margin:20px;
}

footer a:hover
{
    text-decoration: underline;
}

.social
{
    margin-top: 20px;
}

.fa-facebook
{
    color: blue;
    font-size: 20px;
}

.fa-twitter
{
    color: skyblue;
    font-size: 20px;
}

.fa-instagram
{
    color: red;
}